<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Botones Editar</title>
</head>
<body>
	<section th:fragment="botonesEditar">
		<div id="actions" class="py-4 mb-4 bg-light">
			<div class="container">
				<div class="row g-2">
					<div class="col-12 col-md-3">
						<a th:href="@{/}" class="btn btn-light w-100">
							<i class="fas fa-arrow-left"></i> [[#{accion.regresar}]]
						</a>
					</div>
					<div class="col-12 col-md-3">
						<button type="submit" class="btn btn-success w-100">
							<i class="fas fa-check"></i> [[#{accion.guardar}]]
						</button>
					</div>
					<div class="col-12 col-md-3">
						<a th:href="@{/eliminar(idPersona=${persona.idPersona})}"
						   class="btn btn-danger w-100">
							<i class="fas fa-trash"></i> [[#{accion.eliminar}]]
						</a>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>